<h2 class="encabezamientos">ADMIN</h2>
<a href="/auth/logout">Log Out</a>
<br><br>

<div class="container d-flex justify-content-center flex-wrap">
  {{#each users}}
    <nav class="navbar navbar-expand-lg bg-info border border-3 m-3 miNavbar">
  <div class="container-fluid">
     
    <div class="card containerBgImgProfile mt-2 mb-2" style="background-image: url({{img}})">
    </div>
    <div class="card border border-primary border-3 m-1 p-1 borderCont">
      <h5 class="usersTitleProfile">{{this.username}}, {{this.edad}}</h5>
      <a class="nav-link text-white p-3 rounded-4 opacity-75" href="https://web.whatsapp.com/{{this.phoneMe}}">Contact to {{this.username}} {{this.phoneMe}}</a>
      <div class="d-flex flex-column align-items-end mt-3">
        <form class="d-flex" role="search" action="/chats/{{this._id}}" method="POST">
          <input class="border border-primary border-2 rounded-4 me-2 p-1 " type="textarea" placeholder="About {{this.username}}">
          <button class="btn btn-outline-warning rounded-pill updateBtn" type="submit">Censure {{this._id}}</button>
        </form>
        <hr>
        <hr>
        <form class="d-flex" role="search" action="/admin" method="POST">
          <input type="hidden" name="userDelete" value="{{_id}}">
          <button class="btn btn-outline-danger rounded-pill deleteBtn" type="submit">Delete {{this._id}}</button>
        </form>
      </div>
    </div>
  </div>
</nav>
    <br>
{{/each}}
</div>