
<h1>MY PROFILE</h1>
<br>
<form action="/profile" method="POST">
        <input type="hidden" name="edit" value="{{_id}}">
        <button type="submit">EDIT</button>
</form>

{{!-- {{user}} --}}
<br>
    {{#with user}}
      <div class="containerBgImg w-5 h-5" style="background-image: url({{img}});">
        <h2>Username: {{username}}</h2>
        {{!-- <h3>Email: {{email}}</h3> --}}
        <h3>Edad: {{edad}}</h3>
        <h3>Genero: {{gender}}</h3>
        {{!-- <h2>{{title}}</h2>
        <p>{{year}}</p>
        <p>{{director}}</p>
        <p>{{duration}}</p>
        <p>{{genre}}</p>
        <p>{{rate}}</p> --}}
    {{/with}}
{{!-- 
<a href="/chats/create">Create a User</a>
<br>

{{#each match}}
    {{this}}
    <br>
{{/each}} --}}