{{#with user}}
<div class="containerFlex">
  <div class="containerProfileImg" style="background-image: url({{img}});"></div>
<div class="registerForm mt-5">
  <form action="/profile/edit" method="POST">
  
  <div class="mb-3">
    <label for="editUsername" class="form-label text-white fw-bold m-1 mb-2">Username</label>
    <input type="text" class="form-control" id="editUsername" name="username" value="{{username}}">
  </div>
  
  <div class="mb-3">
    <label for="editEmail" class="form-label text-white fw-bold m-1 mb-2">Email</label>
    <input type="email" class="form-control" id="editEmail" name="email"  value="somemail@mail.com">
  </div>
  
  <div class="mb-3">
    <label for="editPhoto" class="form-label text-white fw-bold m-1 mb-2">Photo</label>
    <input type="text" class="form-control" id="editPhoto" name="img" placeholder="Your img url" value="https://picsum.photos/200/300">
  </div>

  <div class="mb-3">
    <label for="editAge" class="form-label text-white fw-bold m-1 mb-2">Age</label>
    <input type="number" class="form-control" id="editAge" name="edad"  value="{{edad}}">
  </div>

  <div class="mb-3">
    <label for="editGender" class="form-label text-white fw-bold m-1 mb-2">Gender</label>
    <input type="text" class="form-control" id="editGender" name="gender"  value="{{gender}}">
  </div>
  
  <div class="mb-3">
    <label for="editPhone" class="form-label text-white fw-bold m-1 mb-2">Phone Number</label>
    <input type="number" class="form-control" id="editPhone" name="phoneMe"  value="{{phoneMe}}">
  </div>

  <div class="divsignBtn">
    <button type="submit" class="btn btn-primary">Edit</button>
    <a href="./">Profile</a>
  </div>
  
  {{#if errorMessage}}
      <p class="errorMsg">{{errorMessage}}</p>
  {{/if}}

</form>
</div>

{{/with}}

    