{{!-- <h1>USER PROFILE</h1>
<a href="/chats/create">Create a User</a>
<br>

{{#each match}}
    {{this}}
    <br>
{{/each}} --}}
<h1>MY PROFILE</h1>
{{!-- <nav class="navbar navbar-expand-lg">
         <a class="nav-link" href="/photos/create">Add photo</a>
</nav> --}}
    {{#with user}}
        <h2>Username: {{username}}</h2>
        {{!-- <h3>Email: {{email}}</h3> --}}
        <h3>Edad: {{edad}}</h3>
        <h3>Genero: {{gender}}</h3>
        <h3>{{#each matches}}</h3>
            <h4>{{this}}</h4>
            {{/each}}
        {{!-- <h2>{{title}}</h2>
        <p>{{year}}</p>
        <p>{{director}}</p>
        <p>{{duration}}</p>
        <p>{{genre}}</p>
        <p>{{rate}}</p> --}}
    {{/with}}
