<div class="containerProfile">
    {{#if usersExists}}
    {{#each users}}
    <div class="card-title"><span>{{username}}, </span><span>{{edad}}</span></div>
<div class="card containerBgImg" style="background-image: url({{img}})">
  <div class="card-body cardBtn">
    <form action="/match" method="POST">
        <input type="hidden" name="yes" value="{{_id}}">
        <button class="btn btn-success border border-2" type="submit">YES</button>
    </form>
    <form action="/match" method="POST">
        <input type="hidden" name="no" value="{{_id}}">
        <button class="btn btn-danger border border-2" type="submit">NO</button>
    </form>
  </div>
</div>
    {{/each}}
    {{else}}
<h2 class="errorMsg">Theres no users left</h2>
    {{/if }}
</div>

