<h1>Match Page</h1>
<br>
<h2>{{loged}}</h2>
<br>
<div class="containerBgImg" style="background-image: url({{img}});">
    {{#if users}}
    {{#each users}}
    <form action="/match" method="POST">
    {{this}}
    <br>
        <input type="hidden" name="yes" value="{{_id}}">
        {{!-- <input type="hidden" name="userId" value={{_id}}> --}}
        <button type="submit">YES</button>
    </form>
    <form action="/match" method="POST">
        <input type="hidden" name="no" value="{{_id}}">
        <button type="submit">NO</button>
    </form>
    {{/each}}
    {{/if }}
</div>