<h2 class="encabezamientos">Chat List</h2>
<a href="/chats/create">Create a User</a>
<br><br>
{{#each match}}
    <nav class="navbar navbar-expand-lg bg-info border border-3 m-3">
  <div class="container-fluid">
     
    <div class="card containerBgImgProfile mt-2 mb-2" style="background-image: url({{img}})">
    </div>
    <div class="card bg-info border border-primary border-3 m-3 p-2 borderCont">
      <h5 class="usersTitleProfile">{{this.username}}</h5>
      <a class="nav-link text-white p-3" href="https://web.whatsapp.com/{{this.phoneMe}}">Would you like to talk?</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search" action="/chats/{{this._id}}" method="POST">
        {{!-- <input class="form-control me-2" type="text" placeholder="Add note" aria-label="Search" > --}}
            <input class="form-control me-2 p-1" type="text" aria-describedby="emailHelp" placeholder="About {{this.username}}">

        <button class="btn btn-outline-success updateBtn" type="submit">Update</button>
      </form>
      <form class="d-flex" role="search" action="/chats/{{this._id}}/delete" method="POST">
        <button class="btn btn-outline-danger deleteBtn" type="submit">Delete</button>
      </form>
    </div>
  </div>
</nav>
    <br>
{{/each}}